.links-top
    margin-bottom: 1rem
    display: inline-block
.links
    list-style-type: none
    color: $comment
    @include sm
        padding: 0
    li
        margin-bottom: 1.5rem
        @include sm
            display: inline
            padding-right: .5rem

.wrapper
//    display: grid
   column-gap: 1rem
    row-gap: 1rem/
    @include sm
    grid-template-columns: repeat(auto-fit, minmax(15rem, 50rem))

.content
    margin: 1.5rem auto
    padding: 0 1rem
    max-width: 40rem
    h1
        font-size: 2rem
        margin-bottom: 1.5rem
        @include sm
            font-size: 2.5rem
            margin-bottom: 2rem
    h2
        color: $green
        font-size: 1.75rem
        margin-bottom: 1rem
    h3
        color: $green
        font-size: 1.5rem
        margin-bottom: 1rem
    h4
        color: $green
        font-size: 1.25rem
        margin-bottom: 1rem
    h5
        color: $green
        font-size: 1rem
        margin-bottom: 1rem
    p
        margin-bottom: 1.5rem
        line-height: 1.5rem
    .post-list
        margin-top: 3rem
    .post-meta
        color: $comment
        margin-bottom: .5rem
        display: block


.post-content
    margin-bottom: 1rem
    p
        margin-bottom: 2rem
    img
        width: 100%
    ul
        margin-bottom: 1rem
        list-style: inside
        line-height: 1.5rem
    blockquote
        background: lighten($background, 8%)
        border-left: .5rem solid $current-line
        margin-bottom: 1.5rem
        padding: 0.5em 10px
        quotes: "“" "”" "‘" "’"
        &:before
            color: $current-line
            content: open-quote
            font-size: 4em
            line-height: 0.1em
            margin-right: 0.25em
            vertical-align: -0.4em
        p
            display: inline
    .button
        display: inline-block
        text-align: center
        line-height: 1rem
        cursor: pointer
        -webkit-appearance: none
        transition: background-color .25s ease-out,color .25s ease-out
        vertical-align: middle
        border: 1px solid transparent
        padding: .85em 1em
        margin: 0 0 1rem
        font-size: .9rem
        background-color: #4CAF50
        color: #fff !important
        &:visited
            color: #fff !important
    .highlight
        margin-bottom: 1rem
        background-color: lighten($background, 8%)
        pre
            padding: 1rem
        code
            span
                display: inline-block
                margin-bottom: .5rem

