.slide_wrapper

.slide_content
    margin: 0 auto
    padding: 0 1rem
    max-width: 40rem
    h1
        font-size: 2rem
        margin-bottom: 1.5rem
    .intro
        .bio
            margin: 1rem 0
            font-size: 1rem
            line-height: 1.5rem

